@page
@model LoginModel

@{
	ViewData["Title"] = $"{L["Login"].Value} | {L["ServiceName"].Value}";
}

<h1>@L["Login"]</h1>

<div>
	<form id="account" method="post">
		<div asp-validation-summary="ModelOnly" role="alert"></div>
		<div>
			<label asp-for="Input.Email">@L["Email"]</label>
			<input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
			<span asp-validation-for="Input.Email"></span>
		</div>
		<div>
			<label asp-for="Input.Password">@L["Password"]</label>
			<input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password" />
			<span asp-validation-for="Input.Password"></span>
		</div>
		<div>
			<label asp-for="Input.RememberMe">
				<input asp-for="Input.RememberMe" />
				@Html.DisplayNameFor(m => m.Input.RememberMe)
			</label>
		</div>
		<button id="login-submit" type="submit">@L["Log in"]</button>
		<div class="form-links">
			<p>
				<a id="forgot-password" asp-page="./ForgotPassword">@L["Forgot your password?"]</a>
			</p>
			<p>
				<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@L["Register as a new user"]</a>
			</p>
			<p>
				<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">@L["Resend email confirmation"]</a>
			</p>
		</div>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
