@page
@model RegisterModel
@{
	ViewData["Title"] = $"{L["Register"].Value} | {L["ServiceName"].Value}";
}

<h1>@L["Register"]</h1>

<div>
	<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
		<div asp-validation-summary="ModelOnly" role="alert"></div>
		<div>
			<label asp-for="Input.Email">@L["Email"]</label>
			<input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
			<span asp-validation-for="Input.Email"></span>
		</div>
		<div>
			<label asp-for="Input.Password">@L["Password"]</label>
			<input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="@L["Password"]" />
			<span asp-validation-for="Input.Password"></span>
		</div>
		<div>
			<label asp-for="Input.ConfirmPassword">@L["Confirm Password"]</label>
			<input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="@L["Confirm Password"]" />
			<span asp-validation-for="Input.ConfirmPassword"></span>
		</div>
		<button id="registerSubmit" type="submit">@L["Register"]</button>
	</form>
</div>
<div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
