@model Meguri.Models.Work

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Work</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileContent)
        </dt>
        <dd>
            @{
                if (Model.FileContent != null) {
                    var image = Convert.ToBase64String(Model.FileContent);
                    <img src="data:image/png;base64,@image">
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sexual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sexual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Violence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Violence)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
