@model IEnumerable<Meguri.Models.Work>
<h1>Index</h1>
<p><a asp-action="Create">Create New</a></p>
@foreach (var item in Model) {
    <hr>
    <dl>
        <div>
            <dt>@Html.DisplayNameFor(model => model.UserId)</dt>
            <dd>@Html.DisplayFor(modelItem => item.UserId)</dd>
        </div>
        <div>
            <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
            <dd>@Html.DisplayFor(modelItem => item.UserName)</dd>
        </div>
        <div>
            <dt>@Html.DisplayNameFor(model => model.Name)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Name)</dd>
        </div>
        <div>
            <dt>@Html.DisplayNameFor(model => model.Text)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Text)</dd>
        </div>
        <div>
            <dt>@Html.DisplayNameFor(model => model.ParentId)</dt>
            <dd>@Html.DisplayFor(modelItem => item.ParentId)</dd>
        </div>
        <div>
            <dt>@Html.DisplayNameFor(model => model.WorkType)</dt>
            <dd>@Html.DisplayFor(modelItem => item.WorkType)</dd>
        </div>
        <div>
            <dt>@Html.DisplayNameFor(model => model.CategoryId)</dt>
            <dd>@Html.DisplayFor(modelItem => item.CategoryId)</dd>
        </div>
        <div>
            <dt>@Html.DisplayNameFor(model => model.Category.Name)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Category.Name)</dd>
        </div>
        <div>
            <dt>@Html.DisplayNameFor(model => model.Tag1)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Tag1)</dd>
        </div>
        <div>
            <dt>@Html.DisplayNameFor(model => model.Tag2)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Tag2)</dd>
        </div>
        <div>
            <dt>@Html.DisplayNameFor(model => model.Tag3)</dt>
        </div>
            <dd>@Html.DisplayFor(modelItem => item.Tag3)</dd>

        @{
            if (item.FileContent != null) {
                var image = Convert.ToBase64String(item.FileContent);
                <div>
                    <dt>@Html.DisplayNameFor(model => model.FileContent)</dt>
                    <dd><img src="data:image/png;base64,@image"></dd>
                </div>
            }
        }
        <div>
            <dt>@Html.DisplayNameFor(model => model.Sexual)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Sexual)</dd>
        </div>
        <div>
            <dt>@Html.DisplayNameFor(model => model.Violence)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Violence)</dd>
        </div>
        <div>
            <dt>@Html.DisplayNameFor(model => model.Created)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Created)</dd>
        </div>
        <div>
            <dt>@Html.DisplayNameFor(model => model.Updated)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Updated)</dd>
        </div>
        <div>
            <dd>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </dd>
        </div>
    </dl>
}

